@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  background: #6990F2;
}
a{
  color:#6990F2;
}
#welcome{
  margin-top:120px;
  margin-bottom:60px;
  color:#fff;
}
#chooselabel{
  cursor: pointer;
  background-color: #ffffff;
  color: #6990F2;
  padding: 5px 25px;
  border: 1px solid #6990F2;
  border-radius: 10px;
}
#file-input{
    cursor: pointer;
    background-color: #ffffff;
    color: #6990F2;
    padding: 5px 25px;
    border: 1px solid #6990F2;
    border-radius: 10px;
}
#uploadButton{
  color:#6990F2;
  border: 1px solid #6990F2;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 10px;
  background-color: #ffffff;
}
#recruiter{
  text-align: center;
  color: #6990F2;
  cursor: pointer;
  border: none;
  background-color: #ffffff00;
}
.fas{
  margin-top:15px;
  margin-bottom:15px;
}
.file-input-label {
    background-color: #f1f1f1;
    color: #333;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
 
  .file-input-label:hover {
    background-color: #ddd;
  }
::selection{
  color: #fff;
  background: #6990F2;
}
.wrapper{
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.432);
}
.wrapper header{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper form{
  height: 200px;
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
}
.wrapper i{
  font-size: 50px;
  color: #6990F2;
}